html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  color: #213547;
}

input {
  background-color: #ffffff; 
  color: #333333; 
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

input:focus {
  border-color: #646cff;
  outline: none;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
}



button:hover {
  border-color: #646cff;
  background-color: #333;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
