html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

input {
  background-color: #ffffff; 
  color: #333333; 
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}
button {
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input:focus {
  border-color: #646cff;
  outline: none;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
}



button:hover {
  border-color: #646cff;

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.home-page {
  background-color: #e0f7fa; /* Fondo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-main {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 800px;
  width: 90%;
}

.home-title {
  color: #333333;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home-subtitle {
  color: #333333;
  font-size: 1.4em;
  margin: 1em 0;
}

.home-buttons {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.home-link {
  text-decoration: none;
}

.home-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}
